/* Флекс классы */
.fb {
    display: flex;
}
.fb_c-ct {
    flex-direction: column;
    justify-content: center;
}
.fb_r-ct {
    flex-direction: row;
    justify-content: center;
}
.fb_c-sb {
    flex-direction: column;
    justify-content: space-between;
}
.fb_r-sb {
    flex-direction: row;
    justify-content: space-between;
}
.fb_c-sa {
    flex-direction: column;
    justify-content: space-around;
}
.fb_r-sa {
    flex-direction: row;
    justify-content: space-around;
}
.fb_c-fs {
    flex-direction: column;
    justify-content: flex-start;
}
.fb_r-fs {
    flex-direction: row;
    justify-content: flex-start;
}
.fb_c-fe {
    flex-direction: column;
    justify-content: flex-end;
}
.fb_r-fe {
    flex-direction: row;
    justify-content: flex-end;
}


/* Классы основных блоков */
.page {
    max-width: 1600px;
    margin: 0 auto;
}
.adder {}
.filter {
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 23px;
    color: dimgray;
}
.list {
    flex-basis: 25vw;
    background-image: url("../img/list_background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 20px solid;
    border-radius: 20px;
    border-color: lightblue;

}
.pager {
    flex-basis: 2vw;
    margin-top: 1%;
    margin-bottom: 1%;
}
.counter {
    background-color: lavender;
    border: 10px solid;
    border-radius: 20px;
    border-color: lightblue;
}
.deleter {
    margin-top: 1%;
    margin-bottom: 1%;
}
.changer {}
.btn {
    border-style: none;
    background-color: transparent;
    border: 10px solid;
    border-radius: 20px;
    border-color: powderblue;
    font-size: 23px;
    color: dimgray;
    margin: 0;
}
.btn:hover {
    background-color: lightblue;
    border-color: white;
}


/* Классы элементов */
.adder__button {}
.adder__input {
    font-size: 23px;
    width: 85%;
}
.filter__button_active {
    border-color: #86e673;
}
.filter__button-all {}
.filter__button-done {}
.filter__button-not-done {}
.list__ul {
    height: 25vw;
    padding: 0;
}
.list__ul_li {
    background-color: rgba(71, 169, 255, 0.31);
    margin-bottom: 0.4%;
    list-style-type: none;
    margin-left: 20%;
    margin-right: 20%;
}
.deleter__button {
    width: 100%;
}
.counter__text-done {}
.counter__text-not-done {}
.counter__text-all {}
.changer__button-done {
    width: 50%;
    background-color: #b4f3c5;
}
.changer__button-not-done {
    width: 50%;
    background-color: #f3cbd6;
}
.pager__button {
    border: 2px solid;
    border-radius: 50%;
    background-color: antiquewhite;
    border-color: cadetblue;
    width: 30px;
    height: 30px;
}
.pager__button_active {
    background-color: cornflowerblue;
}
.pager__button:hover {
    background-color: cornflowerblue;
}


/* Классы неотделимого блока li */
.li__button-change {
    color: white;
    font-size: 25px;
    border: 10px solid;
    border-radius: 35px;
    width: 21%;
    border-color: rgba(160, 239, 255, 0.33);
}
.li__button-change_done {
    background-color: #52a962;
}
.li__button-change_done:hover {
    background-color: #316332;
}
.li__button-change_not-done {
    background-color: #d07777;
}
.li__button-change_not-done:hover {
    background-color: #864848;
}
.li__id {
    flex-basis: 12%;
    font-size: 59px;
    margin: 0;
    color: #3a3636;
}
.li__div-input {
    word-break: break-all;
    width: 10vw;
    flex-basis: 51%;
    background-color: cadetblue;
    background-color: rgba(95, 158, 160, 0.44);
}
.li__div-output {
    word-break: break-all;
    width: 10vw;
    flex-basis: 51%;
    background-color: cadetblue;
    background-color: rgba(95, 158, 160, 0.44);
}
.li__button-delete {
    background-image: url("../img/delete1.png");
    background-size: 100% 100%;
    background-color: rgba(240, 248, 255, 0);
    border: 0px;
    width: 67px;
}


/* Вспомогательные классы*/
.shadow-mask {
    display: none;
}
.light-mask {
    display: block;
}


/* Перенаправления */
.counter h5 {
    font-size: 23px;
    color: dimgray;
    margin: 0;
}
.filter h5 {
    margin: 0;
    font-size: 29px;
}
.li__div-output h5 {
    margin: 0;
    color: antiquewhite;
    font-size: 18px;
}
.li__div-input input {
    width: 100%;
}